@import "./variables.scss";

@include desktop {

    header {
        
    
        .links {
            display: flex;
            align-items: center;
            gap: 12px;
    
            a {
                font-size: 24px;
                color: $white;
            }
        }

    }
    
    
    main {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        gap: 48px;
       
        .container-items {
            padding: 100px;
            width: 100%;
            gap:36px;
            grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
          
    
    
            .card {
                overflow: hidden;  
                transition: transform 0.1s ease;
    
                &:hover {
                    transform: scale(1.02);
                }
                
            }
    
        }
    
        aside {
         min-width: 25%;
        justify-content: flex-start;
        background-color: #95ae7d42;
        padding: 58px;

            .row-cart {
               width: 100%;
    
                .product-row {
        
                    .product-info {
                   
                    }
    
                    .product-price {}
                }
            }
          
    
        }
    }
    
    .hidden {
        display: none;
    }
}
