@import "./variables";
@import "./styles_mobile";
@import "./styles_tablet.scss";
@import "./styles_desktop";

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    scrollbar-width: none;
}
