*,
::after,
::before {
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #2e4a21;
  padding: 0px 24px;
}
header > img {
  width: 46px;
}
header .links {
  display: none;
}
header .icons {
  font-size: 20px;
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 24px;
}
header .icons .fa-solid.fa-cart-shopping:hover {
  color: #ccc;
}

.banner-top {
  height: 44vh;
  background-image: url("../images/test2.jpg");
  background-color: #c5c5c5;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.banner-top h1 {
  color: #ffffff;
  font-size: 64px;
}
.banner-top p {
  color: #ffffff;
  font-size: 24px;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  gap: 0px;
}
main .container-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(342px, 1fr));
  gap: 20px;
  padding: 24px;
}
main .container-items .card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-height: 612px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .container-items .card .card-img {
  border-radius: 6px;
}
main .container-items .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px;
}
main .container-items .card .card-content .card-title {
  font-size: 24px;
}
main .container-items .card .card-content .card-description {
  font-size: 18px;
}
main .container-items .card .card-content .card-price {
  font-weight: bold;
  font-size: 20px;
}
main .container-items .card .card-content .buy-button {
  width: 100%;
  background-color: #2e4a21;
  border: none;
  padding: 12px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}
main .container-items .card .card-content .buy-button:hover {
  background-color: #8daa7a;
}
main aside {
  padding: 24px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main aside .title {
  font-weight: 700;
  font-size: 28px;
}
main aside .row-cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 12px;
}
main aside .row-cart .product-row {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
}
main aside .row-cart .product-row .product-img {
  max-width: 58px;
}
main aside .row-cart .product-row .product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
main aside .row-cart .product-row .product-info .product-name {
  font-weight: 600;
}
main aside .row-cart .product-row .product-info .product-price {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  color: #2e4a21;
  font-weight: 700;
}
main aside .row-cart .product-row .product-info .product-price .product-btns {
  display: flex;
  align-items: center;
  gap: 8px;
}
main aside .row-cart .product-row .product-info .product-price .product-btns .deleteProductBtn, main aside .row-cart .product-row .product-info .product-price .product-btns .plusProductBtn, main aside .row-cart .product-row .product-info .product-price .product-btns .restProductBtn {
  background: #778669;
  border: none;
  padding: 8px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}
main aside .total-display {
  font-size: 24px;
  font-weight: 600;
  padding: 12px 0px;
}
main aside .empty-cart, main aside .finalize-purchase {
  background: #2e4a21;
  width: 100%;
  border: none;
  padding: 12px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.hidden {
  display: none;
}/*# sourceMappingURL=styles_mobile.css.map */