@import "./variables.scss";

@include tablet {
  main {
    .container-items {
      .card {
        .card-content {
          gap: 16px;

          .card-title {
            font-size: 32px;
          }

          .card-description {
            font-size: 22px;
          }

          .card-price {
            font-size: 26px;
          }

          .buy-button {
            font-size: 22px;
          }
        }
      }
    }

    aside {
      .row-cart {
        gap: 12px;
        display: grid;
        gap: 12px;
        grid-template-columns: repeat(auto-fit, minmax(353px, 1fr));
        width: 100%;

        .product-row {
          min-width: 375px;

          .product-img {
            min-width: 80px;
          }

          .product-info {
            width: 100%;

            .product-name {
              font-size: 20px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              overflow: hidden;
              max-width: 174px;
            }

            .product-price {
              justify-content: space-between;
              width: 100%;
              
              p {
                font-size: 18px;
                min-width: 92px;
              }
            }
          }

          .product-btns {
            .deleteProductBtn,
            .plusProductBtn,
            .restProductBtn {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
