// SCSS Variables
$primary-green: #2e4a21;
$secondry-green: #8daa7a;
$tertiary-green: #778669;
$grey: #ccc;
$grey-secondary: #e3e4dc;
$white: #ffffff;
$black: #000000;
$principal-font: "Montserrat", sans-serif;
$title-font: "Handlee", cursive;

// SCSS Mixins
@mixin tablet {
  @media (min-width: 576px) and (max-width: 1299px) {
    @content;
  }
}

// @mixin superTablet {
//   @media (min-width: 1020px) and (max-width: 1299px) {
//     @content;
//   }
// }

@mixin desktop {
  @media (min-width: 1300px) {
    @content;
  }
}

// Mixins flex
%flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

%column {
  display: flex;
  flex-direction: column;
}

// Reset
*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
